.contenedor-select {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.letra, .tamaño {
    width: 15rem;
    padding: 0.5rem;
    background-color: rgb(249, 249, 249);
    border: 2px solid orangered;
    border-radius: 5px;
    text-align: justify;
}

.letra:focus, .tamaño:focus {
    border: 2px solid green;
}

.color {
    width: 15rem;
    border: none;
}

.nombre-select {
    font-size: 16px;
    font-weight: 600;
}